* {
    font-family: 'Roboto', sans-serif;
    color: white;
}


div {
    background-color: transparent;
    /*width: 6.25%;*/
    /* border: 1px solid black;*/
    /*box-sizing: border-box;*/
}

.t {
    display: flex;
    flex-wrap: wrap;
    /* box-sizing: border-box; */
    /* padding: 85px; */
    width: 450px;
    height: 450px;
    border: 1px solid transparent;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    cursor: crosshair;
}

h1{
    font-size: 40px;
    margin: 0;
}

.v {
    flex-grow: 1;
    flex-shrink: 1;
}

.size-show {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.side {
    display: flex;
    flex-direction: column;
    /* flex-basis: 205px; */
    /* flex-grow: 1; */
    gap: 25px;
    height: 450px;
    justify-content: space-evenly;;
    text-align: center;
    align-items: flex-start;
}

body {
    height: 100vh;
    text-align: center;
    /* display: flex;
    flex-direction: row; */
    padding: 15px 70px;
    overflow: hidden;
    /* align-items: center;
    justify-content: space-between; */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/background.svg);
}

.test {
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 50px;
    /* overflow: hidden; */
    align-items: center;
    justify-content: space-evenly;
}

input {
    margin: 10px auto;
}

button {
    width: 90px;
    border-radius: 7px;
    padding: 5px 10px;
    border: 1px solid transparent;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}