div{
    background-color:transparent;
    height: 35px;
    width: 6.25%;
    border: 1px solid black;
    box-sizing: border-box;
}

.t{
    display: flex;
    flex-wrap: wrap;
    /* box-sizing: border-box; */
    /* padding: 85px; */
    width: 100%;
    height: 100%;
} 

body{
    display: flex;
    flex-direction: column;
    padding: 20PX 80px;
    /* overflow: hidden; */
    align-items: center;
    justify-content: center;
    align-content: center;

}

input{
    margin: 10px auto;
}